<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        Autocomplete
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <label for="text" class="label">Produto</label>
            <app-autocomplete-produto 
              [filteredControlOptions$]="filtraProduto$" 
              [inputFormControlItem]="inputProduto" 
              [listaSelecionados]="selecionaProduto" 
              [propriedade]="'descricao'"
              (selecionado)="selecionaProduto = $event">
            </app-autocomplete-produto> 
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>