<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        Autocomplete
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <label for="text" class="label">Produto</label>
            <app-autocomplete-produto
              (selecionado)="selecionaProduto = $event"
              [options]="options"
              [propriedade]="'descricao'">
            </app-autocomplete-produto> 
          </div>
          <button nbButton (click)="teste()">Teste</button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>