<nb-form-field>
    <input 
        #autoInput
        style="color:#222b45"
        nbInput
        type="text"
        [formControl]="inputFormControl"
        placeholder="Buscar"
        [nbAutocomplete]="auto"
    >

    <button class="btn-sem-sombra" nbSuffix nbButton ghost> 
        <nb-icon icon="close-outline"></nb-icon> 
    </button> 

    <nb-autocomplete #auto (selectedChange)="valorSelecionado($event)">

      <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{ option[propriedade] }}
      </nb-option>

    </nb-autocomplete>
</nb-form-field>